@model ProyectoPostItProgramacionWeb.Models.Mazo
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_AdmLayout";
}
<div class="FormularioGeneral">
    <p class="TituloFormulario">Agregar una mazo</p>
    <form class="FormAgregarMazo" method="post" action="~/Usuario/Usuario/AgregarMazo/" enctype="multipart/form-data">
        
        <p>Nombre del título</p>
        <input class="TituloAgregarMazo" type="text"  asp-for="Titulo" /><br />
        <input class="BotonAgregarMazo" type="submit" value="Añadir Mazo &#x2b9a;" />
    </form>
</div>
