@model ProyectoPostItProgramacionWeb.Models.Mazo
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_AdmLayout";
}
<div class="FormularioGeneral">
    <p class="TituloFormulario">Editar mazo</p>
    <form class="FormEditarMazo" method="post" action="~/Usuario/Usuario/EditarMazo">
        <p>Nombre del título</p>
        <input type="text" asp-for="Id" hidden />
        <input class="TituloEditarMazo" type="text" asp-for="Titulo" />
        <p id="error">@Html.ValidationSummary()</p>
        <input class="BotonEditarMazo" type="submit" value="Guardar"/>
    </form>
</div>