@model ProyectoPostItProgramacionWeb.Models.Mazo
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_AdmLayout";
}
<div class="FormularioGeneral">
    <p class="TituloFormulario">Eliminar Mazo</p>
    <form class="FormEliminar" method="get" action="~/Usuario/PostIt/Eliminar/">
        <input type="text" asp-for="Id" hidden />
        <p>¿Desea eliminar el mazo &nbsp; @Model.Titulo?</p>
        <p  id="error">@Html.ValidationSummary()</p>
        <input class="botonEliminarNota" type="submit" value="Eliminar"/>
    </form>
</div>