

@font-face {
    font-family: CursiveNote /*arial, sans-serif*/;
    font-family: CursiveNote;
    src: url(../fonts/DancingScript-VariableFont_wght.ttf);
}

@font-face {
    src: url(../fonts/ReenieBeanie-Regular.ttf);
    font-family: Reenie Beanie;
}

* {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

header > i {
    color: white;
}

a {
    text-decoration: none;
    text-transform: none;
}

main > i {
    color: black;
}

p {
    font-size: 30px;
}

header {
    display: flex;
    align-content: space-between;
    height: 12vh;
    width: 100vw;
    background: linear-gradient(45deg, #DB7093,#C71585, #FF1493, #FF69B4, #FFB6C1, #FFC0CB);
}

    header h1 { /* /Este es el titulo Post It-->  */
        font-weight: bold;
        text-align: center;
        font-family: CursiveNote;
        font-size: 6vw;
        color: white;
        width: 20vw;
        height: 12vh;
        line-height: 12vh;
        /* Firefox */
        -moz-box-shadow: 5px 5px 7px rgba(33,33,33,1);
        /* Safari+Chrome */
        -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
        /* Opera */
        box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    }

    header ul /*Este es el apartado de nueva nota, notas recientes, iniciar sesion, cerrar sesion*/ {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        list-style-type: none;
        margin: 5px;
        font-size: 15px;
        width: 100%;
    }

        header ul li /*Apartado de adentro* del encabezado post it*/ {
            width: 10vw;
            text-align: center;
            list-style: none;
            font-size: 27px;
        }

            header ul li:hover {
                /*background-color: deepskyblue;*/
            }

            header ul li a /*Texto AgregarNota etc*/ {
                color: white;
                font-family: CursiveNote;
                font-size: 27px;
                text-align: center;
                line-height: 12vh;
                margin: auto;
            }

body {
    margin: 0;
}

footer {
    position: center;
    font-family: 'Agency FB';
    font-style: normal;
    font-weight: 800;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
}

main { /*Notas*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    height: 88vh;
    width: 100vw;
    text-align: center;
    font-family: 'Comic Sans MS';
    font-size: 35px;
    /*font-size:30px;*/
    margin: 1px;
    /*background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0)), url(https://images.freeimages.com/images/premium/previews/2110/21108028-seamless-office-supplies-vector-background.jpg);*/
    background-repeat: repeat;
    background-image: url(https://images.freeimages.com/images/premium/previews/2110/21108028-seamless-office-supplies-vector-background.jpg);
}

.contenedorNota {
    text-decoration: none;
    background-color: #FBE364DD;
    width: 25vw;
    height: 42vh;
    margin: 10px;
    padding: 1em;
    display: block;
    /* Firefox */
    -moz-box-shadow: 5px 5px 7px rgba(33,33,33,1);
    /* Safari+Chrome */
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    /* Opera */
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    /*-o-transform: rotate(4deg);
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    position: relative;
    top: 5px;
        */
    -webkit-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    height: 44vh;
    /*background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1)), src(../images/tachuela.png);*/
    /*background: linear-gradient(top, black 10%, orangered 75%, yellow);*/
}


    .contenedorNota:hover /*Al pasar por encima*/ {
        background-color: #FFD700;
        font-family: 'Comic Sans MS';
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        text-align: center;
        font-family: 'Comic Sans MS';
        font-size: 35px;
    }

    .contenedorNota > i /*Texto de al pasar por encima*/ {
        color: black;
        background-color: black;
        font-size: 30px;
    }

    .contenedorNota > .contenidoNota /*Texto de la nota*/ {
        font-family: Reenie Beanie;
        text-align: justify;
        text-justify: inter-word;
        font-size: 40px;
        font-weight: bold;
    }
/*Agregar Nota*/
.TituloFormulario /*AgregarNota Letra*/ {
    font-family: CursiveNote;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 10px;
}

.FormularioGeneral /*AgregarNota Fondo, seleccion de mazo*/ {
    background-color: lightblue;
    height: 88vh;
    width: 100vw;
    font-size: 25px;
    background-image: url(https://previews.123rf.com/images/jevee/jevee1604/jevee160400165/55707989-sin-fisuras-vector-patr%C3%B3n-con-elementos-de-material-de-oficina-fondo-colorido-con-las-tijeras-port%C3%A1t.jpg);
    align-items: center;
    display: block;
}

    .FormularioGeneral > .cuadroagregarnota /*Form*/ {
        background-color: #1E90FFAA;
        margin: 0 auto;
        display: block;
        text-align: center;
        font-size: 30px;
        height: 600px;
        width: 500px;
        border-radius: 15px;
    }
        /*Nombre del titulo*/
        .FormularioGeneral > .cuadroagregarnota > .tituloagregarnota {
            height: 35px;
            width: 350px;
            border-radius: 5px;
            margin-top: 10px;
            font-weight: bold;
            align-content: center;
            font-family: 'Comic Sans MS';
            text-align: center;
            left: 50%;
        }
        /*Descripcion*/
        .FormularioGeneral > .cuadroagregarnota > .descripcionagregarnota {
            height: 250px;
            width: 400px;
            border-radius: 5px;
            font-weight: bold;
            font-family: 'Comic Sans MS';
        }

        /*AgregarNota Boton enviar*/
        .FormularioGeneral > .cuadroagregarnota > .BotonAgregarNota {
            font-size: 30px;
            background-color: #7cfC00aa;
            align-content: center;
            font-family: 'Comic Sans MS';
            border-radius: 2px;
            border-color: transparent;
            margin-top: 30px;
        }

        .FormularioGeneral > .cuadroagregarnota > seleccionaragregarnota {
            font-size: 10px;
        }

        .FormularioGeneral > .cuadroagregarnota > .audioagregarnota {
            font-size: 20px;
        }

        .FormularioGeneral > .cuadroagregarnota > .seleccionaragregarnota > .selec {
            font-size: 15px;
        }
    /*Fin Agregar Nota*/
    /*Editar Nota*/
    .FormularioGeneral > .FormEditar {
        background-color: #ffae40aa;
        margin: 0 auto;
        display: block;
        text-align: center;
        font-size: 30px;
        height: 600px;
        width: 500px;
        border-radius: 15px;
    }

    .FormularioGeneral.FormEditar.Botoneditarnota {
        background-color: dodgerblue;
    }

    .FormularioGeneral > .FormEditar > .descripcioneditarnota {
        height: 250px;
        width: 400px;
        border-radius: 5px;
        font-weight: bold;
        font-family: 'Comic Sans MS';
    }

    .FormularioGeneral > .FormEditar > .tituloagregarnota {
        height: 35px;
        width: 350px;
        border-radius: 5px;
        margin-top: 10px;
        font-weight: bold;
        align-content: center;
        font-family: 'Comic Sans MS';
        text-align: center;
    }

    .FormularioGeneral > .FormEditar > .audioeditarnota {
        font-size: 20px;
    }

    .FormularioGeneral > .FormEditar > .Botoneditarnota {
        font-size: 30px;
        background-color: #8c004bdd;
        align-content: center;
        font-family: 'Comic Sans MS';
        border-radius: 2px;
        border-color: transparent;
        margin-top: 30px;
    }

    /*FIN EDITAR NOTA*/
    /*ELIMINAR NOTA*/
    .FormularioGeneral > .FormEliminar {
        background-color: #a30000bb;
        margin: 0 auto;
        display: block;
        text-align: center;
        font-size: 30px;
        height: 170px;
        width: 650px;
        border-radius: 15px;
        color: white;
    }
        /*Boton de eliminar */
        .FormularioGeneral > .FormEliminar > .botonEliminarNota {
            font-size: 30px;
            background-color: #a30000dd;
            color:white;
            align-content: center;
            font-family: 'Comic Sans MS';
            border-radius: 2px;
            border-color: transparent;
            margin-top: 30px;
        }

    /*IniciarSesion*/
    /*background-color: lightcoral;*/
    .FormularioGeneral > .Forminiciarsesion {
        background-color: #ffffffDD;
        margin: 0 auto;
        display: block;
        text-align: center;
        font-size: 30px;
        height: 350px;
        width: 450px;
        border-radius: 15px;
        border-style: solid;
        border-color: lightgray;
    }

        .FormularioGeneral > .Forminiciarsesion > .nombreusuarioiniciarsesion {
            height: 30px;
            width: 250px;
            border-radius: 5px;
            font-weight: bold;
            font-family: 'Comic Sans MS';
            text-align: left;
            background-color: #e9f0fd;
            BORDER: 1px solid #dddfe2;
        }

        .FormularioGeneral > .Forminiciarsesion > .contraseñainiciarsesion {
            height: 30px;
            width: 250px;
            border-radius: 5px;
            font-weight: bold;
            font-family: 'Comic Sans MS';
        }

        .FormularioGeneral > .Forminiciarsesion > .erroriniciarsesion {
            font-size: 20px;
            color: red;
            font-family: 'Segoe UI Historic';
            margin-top: 10px;
        }

        .FormularioGeneral > .Forminiciarsesion > .BotonIniciarSesion {
            font-family: 'Comic Sans MS';
            font-size: 25px;
            background: linear-gradient(45deg, #00f1a5,#00deb8, #00cfc6, #00bfd5, #00b0e4);
            border: hidden;
            width: 200px;
            height: 40px;
            margin-top:50px;
            border: medium;
            font-weight: bold;
        }
    /*FIN DE INICIAR SESION*/
    /*REGISTRAR*/
    .FormularioGeneral > .FormRegistrar {
        background-color: white;
        background-color: #ffffffDD;
        margin: 0 auto;
        display: block;
        text-align: center;
        font-size: 30px;
        height: 350px;
        width: 450px;
        border-radius: 15px;
        border-style: solid;
        border-color: lightgray;
    }
        .FormularioGeneral > .FormRegistrar > .nombreRegistrarUsuario {
            height: 30px;
            width: 250px;
            border-radius: 5px;
            font-weight: bold;
            font-family: 'Comic Sans MS';
            background-color: #e9f0fd;
            BORDER: 1px solid #dddfe2;
        }
        .FormularioGeneral > .FormRegistrar > .contraseñaRegistrarUsuario {
            height: 30px;
            width: 250px;
            border-radius: 5px;
            font-weight: bold;
            font-family: 'Comic Sans MS';
        }
        .FormularioGeneral > .FormRegistrar > .botonRegistrar {
            background: linear-gradient(45deg, #aa6bb4,#9169bf, #7869c2, #5c69d2, #5573cb);
            color: white;
            width: 200px;
            height: 40px;
            border: none;
            font-size: 18px;
            margin-top: 50px;
            font-weight: bold;
            font-family: 'Comic Sans MS';
        }
