<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Post It App">
    <meta name="keywords" content="Note, Study, App">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/f56a2d1f2c.js" crossorigin="anonymous"></script>
    <link href="~/styles/StyleSheet.css" type="text/css" rel="stylesheet" />
    <title>Aplicación Post It</title>
</head>
<body>
    <header>
        <h1>Post It</h1>
        <ul>
            <li><i class="fas fa-plus"></i><a href="~/Notas/Agregar/">&nbsp;<span>Agregar Nota</span></a></li>
            <li><i class="far fa-trash-alt"></i><a href="~/Notas/Eliminar/">&nbsp;Eliminar Nota</a></li>
            <li><i class="fas fa-pen"></i><a href="~/Notas/Editar/">&nbsp;Editar Nota</a></li>
            <li><i class="far fa-sticky-note"></i><a href="~/Home/Index">&nbsp; Notas Recientes</a></li>
            <li><i class="fas fa-user"></i><a href="~/Home/IniciarSesionUsuario">&nbsp; Iniciar Sesión</a></li>
            <li><i class="fas fa-user-plus"></i><a href="~/Home/RegistrarUsuario">&nbsp;Registrarse</a></li>
            <li><i class="fas fa-sign-out-alt"></i><a>&nbsp;Cerrar Sesión</a></li>
        </ul>
    </header>
    <main>
        @RenderBody()
    </main>
    <!--<footer>
        <p>Proyecto de Programación Web 2021</p>
    </footer>-->
</body>
</html>
