@{
    ViewData["Title"] = "LayoutIndexHeader";
}
<head>
    <link href="~/styles/StyleHeader.css" type="text/css" rel="stylesheet" />
</head>
<h1>LayoutIndexHeader</h1>

<body>
    <header>
        @RenderBody()
    </header>
</body>