@model ProyectoPostItProgramacionWeb.ViewModels.PostItViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_AdmLayout";
}
<div class="FormularioGeneral">
    <p class="TituloFormulario">Agregar una nota</p>
    <form class="cuadroagregarnota" method="post" action="~/Usuario/PostIt/Agregar/" enctype="multipart/form-data">
        <select style="font-size: 25px; background-color: #FFD700; border: 2px;
                            border-radius: 5px; border-color: black; font-weight: bold;"  class="seleccionaragregarnota" asp-items="@(new SelectList(Model.Mazos,"Id","Titulo"))" asp-for="Nota.IdMazo">           
        </select>
        <p>Nombre del título</p>
        <input class="tituloagregarnota" type="text" asp-for="Nota.Titulo" />
        <p>Descripción</p>
        <input class="descripcionagregarnota" type="text" asp-for="Nota.Descripcion" /><br />
        <input class="audioagregarnota" type="file" accept="audio/mp3" asp-for="Audio" id="fileUpdate" />
        <p class="botonerror" id="error">@Html.ValidationSummary() </p>
        <input class="BotonAgregarNota" type="submit" value="Agregar "/>
    </form>
</div>
