
@{
    ViewData["Title"] = "EliminarPostIt";
}

<h1>EliminarPostIt</h1>
<div class="FormularioGeneral">
    <p class="TituloFormulario">Eliminar una nota</p>
    <form method="POST" action="~/Eliminar/">
        <p>¿Desea eliminar&nbsp;<span>Tareas pendientes</span>?</p>
        <input type="submit" />
    </form>
</div>