@model ProyectoPostItProgramacionWeb.ViewModels.PostItViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_AdmLayout";
}
<div class="FormularioGeneral">
    <p class="TituloFormulario">Eliminar una nota</p>
    <form class="FormEliminarNota" method="post" action="~/Usuario/PostIt/Eliminar/">
        <input type="text" asp-for="Nota.Titulo" hidden />
        <p>¿Desea eliminar&nbsp; @Model.Nota.Titulo?</p>
        <input class="BotonEliminarNota" type="submit" value="Borrar"/>
    </form>
</div>
