
@{
    Layout = "_Layout";
}
<form method="POST" action="~/Agregar/">
    <p>Nombre del título</p>
    <input type="text" name="Titulo"/>
    <p>Descripción</p>
    <input type="text" name="Descripcion" />
    <input type="submit" />
</form>
