@model ProyectoPostItProgramacionWeb.ViewModels.PostItViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}
<div class="FormularioGeneral">
    <p class="TituloFormulario">Agregar una nota</p>
    <form method="post" action="~/Notas/Editar/" enctype="multipart/form-data">
        <p>Seleccionar un Mazo</p>
        <select asp-items="@(new SelectList(Model.Mazos,"Id","Titulo"))" asp-for="Nota.IdMazo">
            <option value="@Model.Nota.IdMazo" selected="selected">@Model.Nota.IdMazoNavigation.Nota</option>
        </select>
        <p>Nombre del título</p>
        <input type="text" asp-for="Nota.Titulo" readonly />
        <p>Descripción</p>
        <input type="text" asp-for="Nota.Descripcion" /><br />
        <input type="file" accept="audio/mp3" asp-for="Audio" />
        <input type="submit" />
    </form>
</div>