@model ProyectoPostItProgramacionWeb.ViewModels.PostItViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}
<div class="FormularioGeneral">
    <p class="TituloFormulario">Eliminar una nota</p>
    <form class="FormEliminar" method="post" action="~/Notas/Eliminar/">
        <input type="text" asp-for="Nota.Titulo" hidden />
        <p>¿Desea eliminar&nbsp; @Model.Nota.Titulo?</p>
        <input class="botonEliminarNota" type="submit" value="Eliminar &#x1f5d1;" />
    </form>
</div>
