@model IEnumerable<ProyectoPostItProgramacionWeb.Models.Usuario>
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env
@{
    Layout = "_Layout";
}
@foreach (var usuario in Model)
{
    <div class="contenedorNota">
        <a href="~/Notas/Editar/@usuario.Id"><i class="fas fa-pen" style="color:black;text-align:end;"></i></a>
        <a href="~/Notas/Eliminar/@usuario.Id"><i class="fas fa-trash" style="color:black; text-align:end;"></i></a>
        <p class="tituloMazo" name="Titulo">@usuario.Nombre</p>              
    </div>
}