@{
    Layout = "_Layout";
}
<div class="contenedorNota">
    <p class="tituloMazo">Título del Mazo</p>
    <p class="contenidoNota">Cuerpo de la Nota</p>
</div>
<div class="contenedorNota">
    <p class="tituloMazo">Título del Mazo</p>
    <p class="contenidoNota">Cuerpo de la Nota</p>
</div>
<div class="contenedorNota">
    <p class="tituloMazo">Título del Mazo</p>
    <p class="contenidoNota">Cuerpo de la Nota</p>
</div>
<div class="contenedorNota">
    <p class="tituloMazo">Título del Mazo</p>
    <p class="contenidoNota">Cuerpo de la Nota</p>
</div>
<div class="contenedorNota">
    <p class="tituloMazo">Título del Mazo</p>
    <p class="contenidoNota">Cuerpo de la Nota</p>
</div>
<div class="contenedorNota">
    <p class="tituloMazo">Título del Mazo</p>
    <p class="contenidoNota">Cuerpo de la Nota</p>
</div>
<div class="contenedorNota">
    <p class="tituloMazo">Título del Mazo</p>
    <p class="contenidoNota">Cuerpo de la Nota</p>
</div>
<div class="contenedorNota">
    <p class="tituloMazo">Título del Mazo</p>
    <p class="contenidoNota">Cuerpo de la Nota</p>
</div>

