@model IEnumerable<ProyectoPostItProgramacionWeb.Models.Nota>
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env
@{
    Layout = "_Layout";
}
@foreach (var nota in Model)
{
<div class="contenedorNota">
    <p class="tituloMazo" name="Titulo">@nota.Titulo</p>
    <p class="contenidoNota" name="Contenido">
        @nota.Descripcion
    </p>
    @if (System.IO.File.Exists($"{env.WebRootPath}/audios/{nota.Id}_Audio.mp3"))
    {
        <audio controls>
            <source src="~/audios/@(nota.Id)_Audio.mp3" type="audio/mp3">
            Your browser does not support the audio element.
        </audio>
    }
</div>
}


