
@{
    Layout = "_Layout";
}

<div class="FormularioGeneral">
    <p class="TituloFormulario">Iniciar Sesión</p>
    <form method="POST" action="~/Home/IniciarSesionUsuario">
        <p>Correo Electrónico</p>
        <input type="text" name="CorreoElectronico" /><br />
        <p>Contraseña</p>
        <input type="password" name="Pass" /><br />
        <input type="submit" />
    </form>
</div>

