@model ProyectoPostItProgramacionWeb.Models.Usuario
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

<div class="FormularioGeneral">
    <p class="TituloFormulario">Registrarse</p>
    <form class="FormRegistrar" method="POST" action="~/Usuario/Registrarse/">
        <p>Nombre de usuario</p>
        <input class="nombreRegistrarUsuario" type="text" asp-for="Nombre" /><br />
        <p>Contraseña</p>
        <input class="contraseñaRegistrarUsuario" type="password"  asp-for="Password"/><br />
        <input class="botonRegistrar"  type="submit" value="Registrar"/>
    </form>
</div>
